<div class="documentation">
  <div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">Quick Setup - Video</a></li>
      <li><a href="#tab2" data-toggle="tab">Quick Setup - Tutorial</a></li>
      <li><a href="#tab3" data-toggle="tab">Tips for a successful campaign</a></li>
      <li><a href="#tab4" data-toggle="tab">Advanced Setup</a></li>
      <li><a href="#tab5" data-toggle="tab">"How do I...?" - FAQ's</a></li>      
    </ul>
    <div class="tab-content">
      <%= render 'tab_content/tab1' %>
      <%= render 'tab_content/tab2' %>
      <%= render 'tab_content/tab3' %>
      <%= render 'tab_content/tab4' %>
      <%= render 'tab_content/tab5' %>
    </div><!-- /tab-content -->
  </div><!-- /tabbable -->
</div>